CAIXA_ENDPOINT=
CAIXA_USER=
CAIXA_PASSWORD=
CAIXA_TOKEN=
CAIXA_QUALIFICATION=
CAIXA_TIMEOUT_SECONDS=60
CAIXA_ID_FORNECEDOR=SGP000000170811
CAIXA_NOME_FORNECEDOR=PETACORP

GLPI_API_URL=
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
GLPI_ENTITIES_ID=0
GLPI_VERIFY_SSL=true
GLPI_CATEGORIA_ID=874

POLL_INTERVAL_SECONDS=60
ENABLE_GLPI_ANEXOS_PARA_CAIXA=false
BUSCAR_ABERTURAS_JA_CAPTURADAS=true
STATE_FILE=state.json
